USE [master]
GO
/****** Object:  Database [GA_V1]    Script Date: 2024/9/3 11:30:22 ******/
CREATE DATABASE [GA_V1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GA_V1', FILENAME = N'D:\soft\mysql server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GA_V1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GA_V1_log', FILENAME = N'D:\soft\mysql server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GA_V1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GA_V1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GA_V1]
GO
/****** Object:  User [root91]    Script Date: 2024/9/3 11:30:22 ******/
CREATE USER [root91] FOR LOGIN [root91] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [root91]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024/9/3 11:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [nchar](10) NOT NULL,
	[NickName] [nchar](10) NOT NULL,
	[TrueName] [nchar](10) NOT NULL,
	[psw] [nchar](10) NOT NULL,
	[grade] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([ID], [NickName], [TrueName], [psw], [grade]) VALUES (N'0         ', N'root      ', N'sam       ', N'123       ', 0)
INSERT [dbo].[Users] ([ID], [NickName], [TrueName], [psw], [grade]) VALUES (N'1         ', N'zuzu      ', N'pig       ', N'123       ', 1)
INSERT [dbo].[Users] ([ID], [NickName], [TrueName], [psw], [grade]) VALUES (N'2         ', N'susi      ', N'susi      ', N'123       ', 1)
GO
USE [master]
GO
